.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn {
  background-color: #fdc435;
  margin-right: 10px;
  border-radius: 3px;
  padding: 3px 10px 3px 10px;
  border: none;
  cursor: pointer;
}

.lin-btn {
  background-color: white;
  border: 2px solid gray;
}

p {
  color: gray;
}

.mobile-image {
  display: none;
}
@media screen and (max-width: 768px) {
  .top-image {
    display: none;
  }

  .about-para {
    width: 250px;
  }

  .mobile-image {
    display: flex;
    height: 180px;
    width: 200px;
  }

  .about-container {
    flex-direction: column;
    align-self: flex-end;
  }
}
